body {
  background-color: #F57921;
  font-family: Arial, Helvetica, sans-serif;
}

#boggle-container {
  display: flex;
  flex-direction: column;
  width: 490px;
  margin: 0 auto;
}

.logo {
  align-self: center;
  margin: auto;
}

#board {
  border: 5px solid #FFCA08;
  background-color: #398BD4;
  padding: 5px;
  margin-top: 40px;
  width: 410px;
  margin: auto;

}

.row {
  display: flex;
  text-align:center;
  flex-direction:row;
  padding: 5px;
  width: 400px;
}


.boggle {
 width: 50px;
 height: 70px;
 border-radius: 5px;
 background-color: #ffffff;
 box-shadow: -4px 2px 8px 1px rgba(0,0,0,0.69);
 flex:1 1 auto;
 margin:5px;
}


.boggle span {
 font-weight: bold;
 display: block;
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}

.button {
  background-color: #398BD4;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
}

.random {
  background-color: #398BD4;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
}

.ol {
  background: #398BD4;
  padding: 20px
}

.ol li {
  background: #8b93a8;
  padding: 5px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
